{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>MS Plast</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

    <!-- CSS
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="{% static 'css/vendor/font-awesome.css' %}">
    <!-- Fontawesome Star -->
    <link rel="stylesheet" href="{% static 'css/vendor/fontawesome-stars.css' %}">
    <!-- Ion Icon -->
    <link rel="stylesheet" href="{% static 'css/vendor/ion-fonts.css' %}">
    <!-- Slick CSS -->
    <link rel="stylesheet" href="{% static 'css/plugins/slick.css' %}">
    <!-- Animation -->
    <link rel="stylesheet" href="{% static 'css/plugins/animate.css' %}">
    <!-- jQuery Ui -->
    <link rel="stylesheet" href="{% static 'css/plugins/jquery-ui.min.css' %}">
    <!-- Lightgallery -->
    <link rel="stylesheet" href="{% static 'css/plugins/lightgallery.min.css' %}">
    <!-- Nice Select -->
    <link rel="stylesheet" href="{% static 'css/plugins/nice-select.css' %}">

    <!-- Vendor & Plugins CSS (Please remove the comment from below vendor.min.css & plugins.min.css for better website load performance and remove css files from the above) -->
   

</head>

<body class="template-color-1">

    <div class="main-wrapper">

        <!-- Begin Uren's Header Main Area -->
        <header class="header-main_area bg--sapphire">
            <div class="header-top_area d-lg-block d-none">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-7 col-lg-8">
                            <div class="main-menu_area position-relative">
                                <nav class="main-nav">
                                    <ul>
                                        <li class="dropdown-holder "><a href="{% url 'home' %}">Bosh Sahifa</a>
                                        </li>
                                        <li class="megamenu-holder "><a href="{% url 'product' %}">Maxsulotlar <i class="ion-ios-arrow-down"></i></a>
                                        </li>
                                        <li class=""><a href="{% url 'about' %}">Biz Haqimizda</a></li>
                                        <li class=""><a href="{% url 'contact' %}">Bog'lanish</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-top_area header-sticky bg--sapphire">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-8 col-lg-7 d-lg-block d-none">
                            <div class="main-menu_area position-relative">
                                <nav class="main-nav">
                                    <ul>
                                        <li class="dropdown-holder "><a href="{% url 'home' %}">Bosh Sahifa</a>
                                        </li>
                                        <li class="megamenu-holder "><a href="{% url 'product' %}">Maxsulotlar <i
                                                class="ion-ios-arrow-down"></i></a>
                                        </li>
                                        <li class=""><a href="{% url 'about' %}">Biz Haqimizda</a></li>
                                        <li class=""><a href="{% url 'contact' %}">Bog'lanish</a></li>
                                        <li class=""><a href="{% url 'media' %}">Media <i
                                                class="ion-ios-arrow-down"></i></a>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-sm-3 d-block d-lg-none">
                            <div class="header-logo_area header-sticky_logo">
                                <a href="{% url 'home' %}">
                                    <img src="{% static 'images/menu/logo/1.png' %}" alt="Uren's Logo">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-5 col-sm-9">
                            <div class="header-right_area">
                                <ul>
                                    <li class="mobile-menu_wrap d-flex d-lg-none">
                                        <a href="#mobileMenu" class="mobile-menu_btn toolbar-btn color--white">
                                            <i class="ion-navicon"></i>
                                        </a>
                                    </li>
                                    <li class="minicart-wrap">
                                        <div class="social-icons">
                                        <a href="#" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
                                        <a href="#" target="_blank"><i class="fab fa-telegram fa-2x"></i></a>
                                        <a href="#" target="_blank"><i class="fab fa-youtube fa-2x"></i></a>
                                        {#                                        <a href="#" target="_blank"><i class="fab fa-google-plus fa-2x"></i></a>#}
                                        <a href="#" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
                                    </div>
                                    </li>
                                    <li class="contact-us_wrap">
                                        <a href="tel://+123123321345"><i class="ion-android-call"></i>+123 321 345</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-middle_area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="custom-logo_col col-12">
                            <div class="header-logo_area">
                                <a href="{% url 'home' %}">
                                    <img src="{% static 'images/menu/logo/1.png' %}" alt="Uren's Logo">
                                </a>
                            </div>
                        </div>
                        <div class="custom-category_col col-12">
                            <div class="category-menu category-menu-hidden">
                                <div class="category-heading">
                                    <h2 class="categories-toggle">
                                        <span>Bizning</span>
                                        <span>Maxsulotlar</span>
                                    </h2>
                                </div>
                                <div id="cate-toggle" class="category-menu-list">
                                    <ul>
                                        {% for category in categories %}
                                        <li class="right-menu"><a href="{% url 'product' %}?c={{category.name}}">{{category.name}}</a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="custom-search_col col-12">
                            <div class="hm-form_area">
                                <form action="#" class="hm-searchbox">
                                    <input type="text" placeholder="Enter your search key ...">
                                    <button class="header-search_btn" type="submit"><i
                                        class="ion-ios-search-strong"><span>Search</span></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="custom-cart_col col-12">
                            <div class="header-right_area">
                                <ul>
                                    <li class="mobile-menu_wrap d-flex d-lg-none">
                                        <a href="#mobileMenu" class="mobile-menu_btn toolbar-btn color--white">
                                            <i class="ion-navicon"></i>
                                        </a>
                                    </li>
                                    <li class="minicart-wrap">
                                        <div class="social-icons">
                                        <a href="#" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
                                        <a href="#" target="_blank"><i class="fab fa-telegram fa-2x"></i></a>
                                        <a href="#" target="_blank"><i class="fab fa-youtube fa-2x"></i></a>
                                        {#                                        <a href="#" target="_blank"><i class="fab fa-google-plus fa-2x"></i></a>#}
                                        <a href="#" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
                                    </div>
                                    </li>
                                    <li class="contact-us_wrap">
                                        <a href="tel://+123123321345"><i class="ion-android-call"></i>+123 321 345</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-menu_wrapper" id="mobileMenu">
                <div class="offcanvas-menu-inner">
                    <div class="container">
                        <a href="#" class="btn-close"><i class="ion-android-close"></i></a>
                        <div class="offcanvas-inner_search">
                            <form action="#" class="inner-searchbox">
                                <input type="text" placeholder="Search for item...">
                                <button class="search_btn" type="submit"><i class="ion-ios-search-strong"></i></button>
                            </form>
                        </div>
                        <nav class="offcanvas-navigation">
                            <ul class="mobile-menu">
                                <li class="menu-item-has-children active"><a href="{% url 'home' %}"><span
                                        class="mm-text">Home</span></a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="{% url 'product' %}">
                                        <span class="mm-text">Maxsulotlar</span>
                                    </a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="{% url 'media' %}">
                                        <span class="mm-text">Media</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <nav class="offcanvas-navigation user-setting_area">
                            <ul class="mobile-menu">
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- Uren's Header Main Area End Here -->

        <!-- Begin Uren's Breadcrumb Area -->
        <div class="breadcrumb-area">
            <div class="container">
                <div class="breadcrumb-content">
                    <h2>Error</h2>
                    <ul>
                        <li><a href="{% url 'home' %}">Bosh Sahifa</a></li>
                        <li class="active">Error 404</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Uren's Breadcrumb Area End Here -->
        <!-- Begin Uren's Error 404 Page Area -->
        <div class="error404-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 ml-auto mr-auto text-center">
                        <div class="search-error-wrapper">
                            <h1>404</h1>
                            <h2>Sahifa Topilmadi</h2>
                            <p class="short_desc">Iltimos Bosh Sahifani bosing yoki qidiruvda mavjud maxsulot kiriting !!!</p>
                            <form action="javascript:void(0)" class="error-form">
                                <div class="inner-error_form">
                                    <input type="text" placeholder="Bu yerga yozing..." class="error-input-text">
                                    <button type="submit" class="error-search_btn"><i class="fa fa-search"></i></button>
                                </div>
                            </form>
                            <div class="uren-btn-ps_center"></div>
                            <a href="{% url 'home' %}" class="uren-error_btn">Bosh Sahifaga Qaytish</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Uren's Error 404 Page End Here -->
        <!-- Begin Uren's Footer Area -->
        
        <!-- Uren's Footer Area End Here -->

    </div>

    <!-- JS
============================================ -->

    <!-- jQuery JS -->
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <!-- Modernizer JS -->
    <script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>
    <!-- Popper JS -->
    <script src="{% static 'js/vendor/popper.min.js' %}"></script>
    <!-- Bootstrap JS -->
    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>

    <!-- Slick Slider JS -->
    <script src="{% static 'js/plugins/slick.min.js' %}"></script>
    <!-- Barrating JS -->
    <script src="{% static 'js/plugins/jquery.barrating.min.js' %}"></script>
    <!-- Counterup JS -->
    <script src="{% static 'js/plugins/jquery.counterup.js' %}"></script>
    <!-- Nice Select JS -->
    <script src="{% static 'js/plugins/jquery.nice-select.js' %}"></script>
    <!-- Sticky Sidebar JS -->
    <script src="{% static 'js/plugins/jquery.sticky-sidebar.js' %}"></script>
    <!-- Jquery-ui JS -->
    <script src="{% static 'js/plugins/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/plugins/jquery.ui.touch-punch.min.js' %}"></script>
    <!-- Lightgallery JS -->
    <script src="{% static 'js/plugins/lightgallery.min.js' %}"></script>
    <!-- Scroll Top JS -->
    <script src="{% static 'js/plugins/scroll-top.js' %}"></script>
    <!-- Theia Sticky Sidebar JS -->
    <script src="{% static 'js/plugins/theia-sticky-sidebar.min.js' %}"></script>
    <!-- Waypoints JS -->
    <script src="{% static 'js/plugins/waypoints.min.js' %}"></script>
    <!-- jQuery Zoom JS -->
    <script src="{% static 'js/plugins/jquery.zoom.min.js' %}"></script>

    <!-- Vendor & Plugins JS (Please remove the comment from below vendor.min.js & plugins.min.js for better website load performance and remove js files from avobe) -->
    <!--{% static '
<script src="js/vendor/vendor.min.js"></script>
<script src="js/plugins/plugins.min.js"></script>
' %}-->

    <!-- Main JS -->
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>