{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Uren - Car Accessories Shop HTML Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

    <!-- CSS
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="{% static 'css/vendor/font-awesome.css' %}">
    <!-- Fontawesome Star -->
    <link rel="stylesheet" href="{% static 'css/vendor/fontawesome-stars.css' %}">
    <!-- Ion Icon -->
    <link rel="stylesheet" href="{% static 'css/vendor/ion-fonts.css' %}">
    <!-- Slick CSS -->
    <link rel="stylesheet" href="{% static 'css/plugins/slick.css' %}">
    <!-- Animation -->
    <link rel="stylesheet" href="{% static 'css/plugins/animate.css' %}">
    <!-- jQuery Ui -->
    <link rel="stylesheet" href="{% static 'css/plugins/jquery-ui.min.css' %}">
    <!-- Lightgallery -->
    <link rel="stylesheet" href="{% static 'css/plugins/lightgallery.min.css' %}">
    <!-- Nice Select -->
    <link rel="stylesheet" href="{% static 'css/plugins/nice-select.css' %}">

    <!-- Vendor & Plugins CSS (Please remove the comment from below vendor.min.css & plugins.min.css for better website load performance and remove css files from the above) -->
    <!--{% static '
    <script src="js/vendor/vendor.min.js"></script>
    <script src="js/plugins/plugins.min.js"></script>
    ' %}-->

    <!-- Main Style CSS (Please use minify version for better website load performance) -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!--<link rel="stylesheet" {% static 'href="css' %}/style.min.css">-->

</head>

<body class="template-color-1">

    <div class="main-wrapper">

        <!-- Begin Uren's Header Main Area -->
        <header class="header-main_area bg--sapphire">
            <div class="header-top_area d-lg-block d-none">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-7 col-lg-8">
                            <div class="main-menu_area position-relative">
                                <nav class="main-nav">
                                    <ul>
                                        <li class="dropdown-holder "><a href="index.html">Bosh Sahifa</a>
                                        </li>
                                        <li class="megamenu-holder "><a href="shop-left-sidebar.html">Maxsulotlar</a>
                                        </li>
                                        <li class=""><a href="about-us.html">Biz Haqimizda</a></li>
                                        <li class=""><a href="contact.html">Bog'lanish</a></li>
                                        <li class="active"><a href="blog-left-sidebar.html">Media</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-4">
                            <div class="ht-right_area">
                                <div class="ht-menu">
                                    <ul>
                                        <li><a href="javascript:void(0)">Tillar <i class="fa fa-chevron-down"></i></a>
                                            <ul class="ht-dropdown">
                                                <li class="active"><a href="javascript:void(0)"><img src="{% static 'images/menu/icon/1.jpg' %}" alt="JB's Language Icon">English</a></li>
                                                <li><a href="javascript:void(0)"><img src="{% static 'images/menu/icon/2.jpg' %}" alt="JB's Language Icon">Français</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-top_area header-sticky bg--sapphire">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-8 col-lg-7 d-lg-block d-none">
                            <div class="main-menu_area position-relative">
                                <nav class="main-nav">
                                    <ul>
                                        <li class="dropdown-holder "><a href="index.html">Bosh Sahifa</a>
                                        </li>
                                        <li class="megamenu-holder "><a href="shop-left-sidebar.html">Maxsulotlar</a>
                                        </li>
                                        <li class=""><a href="about-us.html">Biz Haqimizda</a></li>
                                        <li class=""><a href="contact.html">Bog'lanish</a></li>
                                        <li class="active"><a href="blog-left-sidebar.html">Media</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-sm-3 d-block d-lg-none">
                            <div class="header-logo_area header-sticky_logo">
                                <a href="index.html">
                                    <img src="{% static 'images/menu/logo/1.png' %}" alt="Uren's Logo">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-5 col-sm-9">
                            <div class="header-right_area">
                                <ul>
                                    <li class="mobile-menu_wrap d-flex d-lg-none">
                                        <a href="#mobileMenu" class="mobile-menu_btn toolbar-btn color--white">
                                            <i class="ion-navicon"></i>
                                        </a>
                                    </li>
                                    <li class="minicart-wrap">
                                        <a href="#miniCart" class="minicart-btn toolbar-btn">
                                            <div class="minicart-count_area">
                                                <span class="item-count">3</span>
                                                <i class="ion-bag"></i>
                                            </div>
                                            <div class="minicart-front_text">
                                                <span>Cart:</span>
                                                <span class="total-price">462.4</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="contact-us_wrap">
                                        <a href="tel://+123123321345"><i class="ion-android-call"></i>+123 321 345</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-middle_area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="custom-logo_col col-12">
                            <div class="header-logo_area">
                                <a href="index.html">
                                    <img src="{% static 'images/menu/logo/1.png' %}" alt="Uren's Logo">
                                </a>
                            </div>
                        </div>
                        <div class="custom-category_col col-12">
                            <div class="category-menu category-menu-hidden">
                                <div class="category-heading">
                                    <h2 class="categories-toggle">
                                        <span>Bizning</span>
                                        <span>Maxsulotlar</span>
                                    </h2>
                                </div>
                                <div id="cate-toggle" class="category-menu-list">
                                    <ul>
                                        <li class="right-menu"><a href="shop-left-sidebar.html">Car Parts</a>
                                        </li>
                                        <li class="right-menu"><a href="shop-left-sidebar.html">Tools &amp; Accessories</a>
                                            
                                        </li>
                                        <li class="right-menu"><a href="shop-left-sidebar.html">Suspension Systems</a>
                                            
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="custom-search_col col-12">
                            <div class="hm-form_area">
                                <form action="#" class="hm-searchbox">
                                    
                                    <input type="text" placeholder="Maxsulot nomini kiriting ...">
                                    <button class="header-search_btn" type="submit"><i
                                        class="ion-ios-search-strong"><span>Qidirmoq</span></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="custom-cart_col col-12">
                            <div class="header-right_area">
                                <ul>
                                    <li class="mobile-menu_wrap d-flex d-lg-none">
                                        <a href="#mobileMenu" class="mobile-menu_btn toolbar-btn color--white">
                                            <i class="ion-navicon"></i>
                                        </a>
                                    </li>
                                    <li class="minicart-wrap">
                                        <a href="#miniCart" class="minicart-btn toolbar-btn">
                                            <div class="minicart-count_area">
                                                <span class="item-count">3</span>
                                                <i class="ion-bag"></i>
                                            </div>
                                            <div class="minicart-front_text">
                                                <span>coming:</span>
                                                <span class="total-price">462.4</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="contact-us_wrap">
                                        <a href="tel://+123123321345"><i class="ion-android-call"></i>+123 321 345</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-menu_wrapper" id="mobileMenu">
                <div class="offcanvas-menu-inner">
                    <div class="container">
                        <a href="#" class="btn-close"><i class="ion-android-close"></i></a>
                        <div class="offcanvas-inner_search">
                            <form action="#" class="inner-searchbox">
                                <input type="text" placeholder="Search for item...">
                                <button class="search_btn" type="submit"><i class="ion-ios-search-strong"></i></button>
                            </form>
                        </div>
                        <nav class="offcanvas-navigation">
                            <ul class="mobile-menu">
                                <li class="menu-item-has-children active"><a href="index.html"><span
                                        class="mm-text">Bosh Sahifa</span></a>
                                   
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="shop-left-sidebar.html">
                                        <span class="mm-text">Maxsulotlar</span>
                                    </a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="blog-left-sidebar.html">
                                        <span class="mm-text">Media</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <nav class="offcanvas-navigation user-setting_area">
                            <ul class="mobile-menu">
                                
                                <li class="menu-item-has-children"><a href="javascript:void(0)"><span
                                        class="mm-text">Tillar</span></a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="javascript:void(0)">
                                                <span class="mm-text">English</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <span class="mm-text">Français</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <span class="mm-text">Romanian</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <span class="mm-text">Japanese</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- Uren's Header Main Area End Here -->

        <!-- Begin Uren's Breadcrumb Area -->
        <div class="breadcrumb-area">
            <div class="container">
                <div class="breadcrumb-content">
                    <h2>Bizning YouTube videolar</h2>
                    <ul>
                        <li><a href="index.html">Bosh Sahifa</a></li>
                        <li class="active">Media</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Uren's Breadcrumb Area End Here -->

        <!-- Begin Uren's Blog Column Two Area -->
        <div class="uren-blog_area column-two_area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row blog-item_wrap">
                            <div class="col-lg-6">
                                <div class="blog-item">
                                    <div class="blog-img img-hover_effect">
                                        <a href="blog-details-left-sidebar.html">
                                            <img src="{% static 'images/blog/large-size/1.jpg' %}" alt="Uren's Blog Image">
                                        </a>
                                        <span class="post-date">12-09-19</span>
                                    </div>
                                    <div class="blog-content">
                                        <h3><a href="blog-details-left-sidebar.html">Blog Image Post</a></h3>
                                        <p>Maiores accusamus unde nulla quaerat deserunt, beatae molestias blanditiis aut
                                            recusandae saepe, quis, culpa voluptatum?</p>
                                        <div class="uren-btn-ps_left">
                                            <a class="uren-btn-2" href="blog-details-left-sidebar.html">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="blog-item">
                                    <div class="single-blog_slider slider-navigation_style-1">
                                        <div class="slide-item">
                                            <div class="inner-slide">
                                                <div class="blog-img img-hover_effect">
                                                    <a href="blog-details-left-sidebar.html">
                                                        <img src="{% static 'images/blog/large-size/3.jpg' %}" alt="Uren's Blog Image">
                                                    </a>
                                                    <span class="post-date">19-09-19</span>
                                                </div>
                                                <div class="blog-content">
                                                    <h3><a href="blog-details-left-sidebar.html">Post With Gallery</a></h3>
                                                    <p>Maiores accusamus unde nulla quaerat deserunt, beatae molestias
                                                        blanditiis aut recusandae saepe, quis, culpa voluptatum?</p>
                                                    <div class="uren-btn-ps_left">
                                                        <a class="uren-btn-2" href="blog-details-left-sidebar.html">Read
                                                            More</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slide-item">
                                            <div class="inner-slide">
                                                <div class="blog-img img-hover_effect">
                                                    <a href="blog-details-left-sidebar.html">
                                                        <img src="{% static 'images/blog/large-size/4.jpg' %}" alt="Uren's Blog Image">
                                                    </a>
                                                    <span class="post-date">16-09-19</span>
                                                </div>
                                                <div class="blog-content">
                                                    <h3><a href="blog-details-left-sidebar.html">Post With Gallery</a></h3>
                                                    <p>Maiores accusamus unde nulla quaerat deserunt, beatae molestias
                                                        blanditiis aut recusandae saepe, quis, culpa voluptatum?</p>
                                                    <div class="uren-btn-ps_left">
                                                        <a class="uren-btn-2" href="blog-details-left-sidebar.html">Read
                                                            More</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slide-item">
                                            <div class="inner-slide">
                                                <div class="blog-img img-hover_effect">
                                                    <a href="blog-details-left-sidebar.html">
                                                        <img src="{% static 'images/blog/large-size/5.jpg' %}" alt="Uren's Blog Image">
                                                    </a>
                                                    <span class="post-date">20-09-19</span>
                                                </div>
                                                <div class="blog-content">
                                                    <h3><a href="blog-details-left-sidebar.html">Post With Gallery</a></h3>
                                                    <p>Maiores accusamus unde nulla quaerat deserunt, beatae molestias
                                                        blanditiis aut recusandae saepe, quis, culpa voluptatum?</p>
                                                    <div class="uren-btn-ps_left">
                                                        <a class="uren-btn-2" href="blog-details-left-sidebar.html">Read
                                                            More</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slide-item">
                                            <div class="inner-slide">
                                                <div class="blog-img img-hover_effect">
                                                    <a href="blog-details-left-sidebar.html">
                                                        <img src="{% static 'images/blog/large-size/6.jpg' %}" alt="Uren's Blog Image">
                                                    </a>
                                                    <span class="post-date">25-09-19</span>
                                                </div>
                                                <div class="blog-content">
                                                    <h3><a href="blog-details-left-sidebar.html">Post With Gallery</a></h3>
                                                    <p>Maiores accusamus unde nulla quaerat deserunt, beatae molestias
                                                        blanditiis aut recusandae saepe, quis, culpa voluptatum?</p>
                                                    <div class="uren-btn-ps_left">
                                                        <a class="uren-btn-2" href="blog-details-left-sidebar.html">Read
                                                            More</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="blog-item">
                                    <div class="blog-img img-hover_effect">
                                        <a href="blog-details-left-sidebar.html">
                                            <img src="{% static 'images/blog/large-size/3.jpg' %}" alt="Uren's Blog Image">
                                        </a>
                                        <span class="post-date">12-09-19</span>
                                    </div>
                                    <div class="blog-content">
                                        <h3><a href="blog-details-left-sidebar.html">Repellat obcaecati deserunt autem molestiae</a></h3>
                                        <p>Maiores accusamus unde nulla quaerat deserunt, beatae molestias blanditiis aut
                                            recusandae saepe, quis, culpa voluptatum?</p>
                                        <div class="uren-btn-ps_left">
                                            <a class="uren-btn-2" href="blog-details-left-sidebar.html">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="blog-item">
                                    <div class="blog-img img-hover_effect">
                                        <a href="blog-details-left-sidebar.html">
                                            <img src="{% static 'images/blog/large-size/4.jpg' %}" alt="Uren's Blog Image">
                                        </a>
                                        <span class="post-date">12-09-19</span>
                                    </div>
                                    <div class="blog-content">
                                        <h3><a href="blog-details-left-sidebar.html">Beatae rerum voluptatum odit minima</a></h3>
                                        <p>Maiores accusamus unde nulla quaerat deserunt, beatae molestias blanditiis aut
                                            recusandae saepe, quis, culpa voluptatum?</p>
                                        <div class="uren-btn-ps_left">
                                            <a class="uren-btn-2" href="blog-details-left-sidebar.html">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="blog-item">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/256180869&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true">
                                        </iframe>
                                    </div>
                                    <div class="blog-content">
                                        <h3><a href="blog-details-left-sidebar.html">Post With Audio</a></h3>
                                        <p>Maiores accusamus unde nulla quaerat deserunt, beatae molestias blanditiis aut
                                            recusandae saepe, quis, culpa voluptatum?</p>
                                        <div class="uren-btn-ps_left">
                                            <a class="uren-btn-2" href="blog-details-left-sidebar.html">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="blog-item">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe src="https://www.youtube.com/embed/-lG0kDeuSJk" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                                        </iframe>
                                    </div>
                                    <div class="blog-content">
                                        <h3><a href="blog-details-left-sidebar.html">Post With Video</a></h3>
                                        <p>Maiores accusamus unde nulla quaerat deserunt, beatae molestias blanditiis aut
                                            recusandae saepe, quis, culpa voluptatum?</p>
                                        <div class="uren-btn-ps_left">
                                            <a class="uren-btn-2" href="blog-details-left-sidebar.html">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="blog-item">
                                    <div class="blog-img img-hover_effect">
                                        <a href="blog-details-left-sidebar.html">
                                            <img src="{% static 'images/blog/large-size/5.jpg' %}" alt="Uren's Blog Image">
                                        </a>
                                        <span class="post-date">12-09-19</span>
                                    </div>
                                    <div class="blog-content">
                                        <h3><a href="blog-details-left-sidebar.html">Quaerat eligendi dolores autem omnis
                                                sed</a></h3>
                                        <p>Maiores accusamus unde nulla quaerat deserunt, beatae molestias blanditiis aut
                                            recusandae saepe, quis, culpa voluptatum?</p>
                                        <div class="uren-btn-ps_left">
                                            <a class="uren-btn-2" href="blog-details-left-sidebar.html">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="blog-item">
                                    <div class="blog-img img-hover_effect">
                                        <a href="blog-details-left-sidebar.html">
                                            <img src="{% static 'images/blog/large-size/6.jpg' %}" alt="Uren's Blog Image">
                                        </a>
                                        <span class="post-date">12-09-19</span>
                                    </div>
                                    <div class="blog-content">
                                        <h3><a href="blog-details-left-sidebar.html">Quaerat eligendi dolores autem omnis
                                                sed</a></h3>
                                        <p>Maiores accusamus unde nulla quaerat deserunt, beatae molestias blanditiis aut
                                            recusandae saepe, quis, culpa voluptatum?</p>
                                        <div class="uren-btn-ps_left">
                                            <a class="uren-btn-2" href="blog-details-left-sidebar.html">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="uren-paginatoin-area">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <ul class="uren-pagination-box carlet-color">
                                                <li class="active"><a href="javascript:void(0)">1</a></li>
                                                <li><a href="javascript:void(0)">2</a></li>
                                                <li><a href="javascript:void(0)">3</a></li>
                                                <li><a href="javascript:void(0)">4</a></li>
                                                <li><a href="javascript:void(0)">5</a></li>
                                                <li><a class="Next" href="javascript:void(0)">Next</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Uren's Blog Column Two Area End Here -->

        <!-- Begin Uren's Footer Area -->
        <div class="uren-footer_area">
            <div class="footer-top_area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="newsletter-area">
                                <h3 class="title">Join Our Newsletter Now</h3>
                                <p class="short-desc">Get E-mail updates about our latest shop and special offers.</p>
                                <div class="newsletter-form_wrap">
                                    <form action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="newsletters-form validate" target="_blank" novalidate>
                                        <div id="mc_embed_signup_scroll">
                                            <div id="mc-form" class="mc-form subscribe-form">
                                                <input id="mc-email" class="newsletter-input" type="email" autocomplete="off" placeholder="Enter your email" />
                                                <button class="newsletter-btn" id="mc-submit">Subscribe</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-middle_area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="footer-widgets_info">
                                <div class="footer-widgets_logo">
                                    <a href="#">
                                        <img src="{% static 'images/menu/logo/1.png' %}" alt="Uren's Footer Logo">
                                    </a>
                                </div>
                                <div class="widget-short_desc">
                                    <p>We are a team of designers and developers that create high quality HTML Template &
                                        Woocommerce, Shopify Theme.
                                    </p>
                                </div>
                                <div class="widgets-essential_stuff">
                                    <ul>
                                        <li class="uren-address"><span>Address:</span> The Barn,
                                            Ullenhall, Henley
                                            in
                                            Arden B578 5CC, England</li>
                                        <li class="uren-phone"><span>Call
                                        Us:</span> <a href="tel://+123123321345">+123 321 345</a>
                                        </li>
                                        <li class="uren-email"><span>Email:</span> <a href="mailto://info@yourdomain.com">info@yourdomain.com</a></li>
                                    </ul>
                                </div>
                                <div class="uren-social_link">
                                    <ul>
                                        <li class="facebook">
                                            <a href="https://www.facebook.com/" data-toggle="tooltip" target="_blank" title="Facebook">
                                                <i class="fab fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="twitter">
                                            <a href="https://twitter.com/" data-toggle="tooltip" target="_blank" title="Twitter">
                                                <i class="fab fa-twitter-square"></i>
                                            </a>
                                        </li>
                                        <li class="google-plus">
                                            <a href="https://www.plus.google.com/discover" data-toggle="tooltip" target="_blank" title="Google Plus">
                                                <i class="fab fa-google-plus"></i>
                                            </a>
                                        </li>
                                        <li class="instagram">
                                            <a href="https://rss.com/" data-toggle="tooltip" target="_blank" title="Instagram">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="footer-widgets_area">
                                <div class="row">
                                    <div class="col-lg-3 col-md-6">
                                        <div class="footer-widgets_title">
                                            <h3>Information</h3>
                                        </div>
                                        <div class="footer-widgets">
                                            <ul>
                                                <li><a href="javascript:void(0)">About Us</a></li>
                                                <li><a href="javascript:void(0)">Delivery Information</a></li>
                                                <li><a href="javascript:void(0)">Privacy Policy</a></li>
                                                <li><a href="javascript:void(0)">Terms & Conditions</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="footer-widgets_title">
                                            <h3>Customer Service</h3>
                                        </div>
                                        <div class="footer-widgets">
                                            <ul>
                                                <li><a href="javascript:void(0)">Contact Us</a></li>
                                                <li><a href="javascript:void(0)">Returns</a></li>
                                                <li><a href="javascript:void(0)">Site Map</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="footer-widgets_title">
                                            <h3>Extras</h3>
                                        </div>
                                        <div class="footer-widgets">
                                            <ul>
                                                <li><a href="javascript:void(0)">About Us</a></li>
                                                <li><a href="javascript:void(0)">Delivery Information</a></li>
                                                <li><a href="javascript:void(0)">Privacy Policy</a></li>
                                                <li><a href="javascript:void(0)">Terms & Conditions</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="footer-widgets_title">
                                            <h3>My Account</h3>
                                        </div>
                                        <div class="footer-widgets">
                                            <ul>
                                                <li><a href="javascript:void(0)">My Account</a></li>
                                                <li><a href="javascript:void(0)">Order History</a></li>
                                                <li><a href="javascript:void(0)">Wish List</a></li>
                                                <li><a href="javascript:void(0)">Newsletter</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom_area">
                <div class="container-fluid">
                    <div class="footer-bottom_nav">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                               <div class="copyright">
                                    <span><a href="templateshub.net">Templateshub.</a></span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="payment">
                                    <a href="#">
                                        <img src="{% static 'images/footer/payment/1.png' %}" alt="Uren's Payment Method">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Uren's Footer Area End Here -->

    </div>

    <!-- JS
============================================ -->

    <!-- jQuery JS -->
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <!-- Modernizer JS -->
    <script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>
    <!-- Popper JS -->
    <script src="{% static 'js/vendor/popper.min.js' %}"></script>
    <!-- Bootstrap JS -->
    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>

    <!-- Slick Slider JS -->
    <script src="{% static 'js/plugins/slick.min.js' %}"></script>
    <!-- Barrating JS -->
    <script src="{% static 'js/plugins/jquery.barrating.min.js' %}"></script>
    <!-- Counterup JS -->
    <script src="{% static 'js/plugins/jquery.counterup.js' %}"></script>
    <!-- Nice Select JS -->
    <script src="{% static 'js/plugins/jquery.nice-select.js' %}"></script>
    <!-- Sticky Sidebar JS -->
    <script src="{% static 'js/plugins/jquery.sticky-sidebar.js' %}"></script>
    <!-- Jquery-ui JS -->
    <script src="{% static 'js/plugins/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/plugins/jquery.ui.touch-punch.min.js' %}"></script>
    <!-- Lightgallery JS -->
    <script src="{% static 'js/plugins/lightgallery.min.js' %}"></script>
    <!-- Scroll Top JS -->
    <script src="{% static 'js/plugins/scroll-top.js' %}"></script>
    <!-- Theia Sticky Sidebar JS -->
    <script src="{% static 'js/plugins/theia-sticky-sidebar.min.js' %}"></script>
    <!-- Waypoints JS -->
    <script src="{% static 'js/plugins/waypoints.min.js' %}"></script>
    <!-- jQuery Zoom JS -->
    <script src="{% static 'js/plugins/jquery.zoom.min.js' %}"></script>

    <!-- Vendor & Plugins JS (Please remove the comment from below vendor.min.js & plugins.min.js for better website load performance and remove js files from avobe) -->
    <!--{% static '
<script src="js/vendor/vendor.min.js"></script>
<script src="js/plugins/plugins.min.js"></script>
' %}-->

    <!-- Main JS -->
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>